<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.good_bad_game">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.Billing" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Goodbadgame"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".readyroom.getRoom"
            android:exported="false" />
        <activity
            android:name=".readyroom.RoomCreate"
            android:exported="false" />
        <activity
            android:name=".readyroom.ReadyRoomFramework"
            android:exported="false" />
        <activity
            android:name=".friend.MenuFriend"
            android:exported="false" />
        <activity
            android:name=".Vote"
            android:exported="false" />
        <activity
            android:name=".InGame"
            android:exported="false" />
        <activity
            android:name=".ReadyGame"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".home.Home" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".PopupActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".SignIn"
            android:exported="false" />
        <activity
            android:name=".home.Home"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>